<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" >
    <meta name="renderer" content="webkit" >
    <meta name="HandheldFriendly" content="true">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">
    <!--Define Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <!--Import jQuery and Bootstrap-->
    <link rel="stylesheet" href="{{static_url('libs/bootstrap-3.3.5-dist/css/bootstrap.min.css')}}"/>
    <link rel="icon" href="{{static_url('res/index/favicon.ico')}}">
    <script type="text/javascript" src="{{static_url('libs/jquery-2.1.4.min.js')}}"></script>
    <script type="text/javascript" src="{{static_url('libs/bootstrap-3.3.5-dist/js/bootstrap.min.js')}}"></script>
    <link rel="stylesheet" href="{{static_url('index/style.css')}}"/>
    <script type="text/javascript" src="{{static_url('index/index.js')}}"></script>
    <title>iSYSU</title>
</head>
<body>
    <div class="container-fluid" id="wrapper">

        <img class="img-responsive" id="background" src="{{static_url('res/index/BG_ffianl_2.png')}}" alt="back"/>

        <div class="row">
            <div class="col-xs-4">
                <div class="item-div">
                    <a href="http://wjw.sysu.edu.cn/" class="thumbnail">
                        <img src="{{static_url('res/index/grade@2x.png')}}" alt="" class="item-img img-responsive"/>
                        <p>教务查询</p>
                    </a>
                </div>
                <div class="item-div">
                    <a href="#" class="thumbnail">
                        <img src="{{static_url('res/index/classroom@2x.png')}}" alt="" class="item-img img-responsive"/>
                        <p>自习室查询</p>
                    </a>
                </div>
                <div class="item-div">
                    <a href="http://www.sysu.edu.cn/2012/cn/zjzd/zjzd02/index.htm" class="thumbnail">
                        <img src="{{static_url('res/index/map@2x.png')}}" alt="" class="item-img img-responsive"/>
                        <p>地图查询</p>
                    </a>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="item-div">
                    <a href="#" class="thumbnail">
                        <img src="{{static_url('res/index/card@2x.png')}}" alt="" class="item-img img-responsive"/>
                        <p>校园卡查询</p>
                    </a>
                </div>
                <div class="item-div">
                    <a href="#" class="thumbnail">
                        <img src="{{static_url('res/index/calendar@2x.png')}}" alt="" class="item-img img-responsive"/>
                        <p>校历查询</p>
                    </a>
                </div>
                <div class="item-div">
                    <a href="#" class="thumbnail">
                        <img src="{{static_url('res/index/bus@2x.png')}}" alt="" class="item-img img-responsive"/>
                        <p>校车查询</p>
                    </a>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="item-div">
                    <a href="#" class="thumbnail">
                        <img src="{{static_url('res/index/library@2x.png')}}" alt="" class="item-img img-responsive"/>
                        <p>图书馆查询</p>
                    </a>
                </div>
                <div class="item-div">
                    <a href="#" class="thumbnail">
                        <img src="{{static_url('res/index/dormitory@2x.png')}}" alt="" class="item-img img-responsive"/>
                        <p>宿舍查询</p>
                    </a>
                </div>
            </div>
        </div>

    </div>
</body>
</html>