<!DOCTYPE html>
<html>
<head>
    <title>Hello Cocos2d-JS</title>
    <script type="text/javascript" src="{{static_url('libs/cocos2d-js-v3.8-lite.js')}}" charset="utf-8"></script>
    <script type="text/javascript" src="{{static_url('game/resource.js')}}"></script>
    <script type="text/javascript" src="{{static_url('game/StartScene.js')}}"></script>
    <script type="text/javascript" src="{{static_url('game/PlayScene.js')}}"></script>
    <script type="text/javascript" src="{{static_url('game/main.js')}}"></script>
</head>
<body>   
    <canvas id="gameCanvas" width="1000" height="400"></canvas>
</body>
</html>