<!DOCTYPE html>
<html>
<head>
    <title>Run SYSUer!</title>
    <meta name="screen-orientation" content="landscape"/>
    <meta name="HandheldFriendly" content="true">
    {#<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">#}
    <script type="text/javascript" src="{{static_url('libs/cocos2d-js-v3.8-lite.js')}}" charset="utf-8"></script>
    <script type="text/javascript" src="{{static_url('game/resource.js')}}"></script>
    <script type="text/javascript" src="{{static_url('game/runnerSprite.js')}}"></script>
    <script type="text/javascript" src="{{static_url('game/backgroundSprite.js')}}"></script>
    <script type="text/javascript" src="{{static_url('game/Mission1.js')}}"></script>
    <script type="text/javascript" src="{{static_url('game/Mission2.js')}}"></script>
    <script type="text/javascript" src="{{static_url('game/Mission3.js')}}"></script>
    <script type="text/javascript" src="{{static_url('game/Mission4.js')}}"></script>
    <script type="text/javascript" src="{{static_url('game/BeginScene.js')}}"></script>
    <script type="text/javascript" src="{{static_url('game/RuleScene.js')}}"></script>
    <script type="text/javascript" src="{{static_url('game/main.js')}}"></script>
</head>
<body>   
    <canvas id="gameCanvas" width="1000" height="400"></canvas>
</body>
</html>