<!DOCTYPE html>
<html>
<head>
    <title>Run SYSUer!</title>
    <meta charset='utf-8'>
    {#UC#}
    <meta name="screen-orientation" content="portrait"/>
    <meta name="full-screen" content="yes">
    {#QQ X5#}
    <meta name="x5-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    {#IOS Safari#}
    <meta content=”yes” name=”apple-mobile-web-app-capable” />
    <meta content="telephone=no" name="format-detection">

    {#SEO#}
    <meta name="keywords" content="奔跑吧中大人,runsysuer,微信小游戏,h5游戏,cocos2djs,中大官微,iSYSU" />
    <meta name="description" content="中山大学官方微信小游戏，奔跑吧中大人！旨在建设中大人自己的移动生活，丰富校园文化。"/>
    <meta name="robots" content="index,follow"/>
    <meta name="google" content="index,follow" />
    <meta name="googlebot" content="index,follow" />
    <meta name="verify" content="index,follow" />
    <meta name="author" content="iSYSU-Wechat-Tech-Dept.(Minghao,Jihao,Youcai,Shuhuang)" />

    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <script type="text/javascript" src="{{static_url('libs/cocos2d-js-v3.8-lite.js')}}" charset="utf-8"></script>
    <script type="text/javascript" src="{{static_url('game/resource.js')}}"></script>
    <script type="text/javascript" src="{{static_url('game/runnerSprite.js')}}"></script>
    <script type="text/javascript" src="{{static_url('game/backgroundSprite.js')}}"></script>
    <script type="text/javascript" src="{{static_url('game/Mission1.js')}}"></script>
    <script type="text/javascript" src="{{static_url('game/Mission2.js')}}"></script>
    <script type="text/javascript" src="{{static_url('game/Mission3.js')}}"></script>
    <script type="text/javascript" src="{{static_url('game/Mission4.js')}}"></script>
    <script type="text/javascript" src="{{static_url('game/BeginScene.js')}}"></script>
    <script type="text/javascript" src="{{static_url('game/RuleScene.js')}}"></script>
    <script type="text/javascript" src="{{static_url('game/main.js')}}"></script>
    {#<script>var level={{1}}</script>#}

    {#wechat js sdk#}
    {#<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript" src="{{static_url('game/wechat.js')}}"></script>#}

</head>
<body>
    <canvas id="gameCanvas" class=""></canvas>
</body>
</html>